body{
    margin: 0;
    padding: 0;
    background-color:azure;

    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
}
.container{
    display: grid;
    align-items: center;
}
.header{
    display: grid;
}
h1{
    font-size: 2.5em;
    font-weight: 700;

    margin: 0;
}
.line{
    height: 4px;
    width: 100px;
    background-color: black;
}
ul{
    list-style-type: none;
    text-transform: capitalize;
    font-family: 'MS Shell Dlg';
    font-size: 1em;

    display: flex;
    gap: 20px;
}
.menu{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}
.card{
    display: flex;
    gap: 20px;
    max-width: 500px;
}
.frame{
    max-width: 250px;
    height: 150px;
    overflow: hidden;
}
img{
    width: 100%;
    height: auto;
    object-fit:contain;

}
.info__header{
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted black;
}
.info__header > *{
    margin-top: 5px;
    margin-bottom: 5px;
}
h3,.price{
    font-size: 1em;
    font-weight: 700;
}
